<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <table>
        <thead>
            <tr>
                <th>First Year</th>
                <th>Second Year</th>
                <th>Third year</th>
                <th>Fourth year</th>
                </tr>
        </thead>
        <tbody>
            {% for year in years %}
            <td>{{ year.year }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
