{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .chat-bubble {
    position: relative;
    border-radius: .2em;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #DEE2E6;
}

.chat-bubble p {
    margin: 0;
    padding: 0;
}


.form-control {

    color: #1c1e21 !important;

}

.chat-bubble small {
    font-size: 0.8em;
    color: #888;
}

.chat-bubble.outgoing{
    text-align: left;
}

.chat-bubble.incoming {
    text-align: right;
}
.sticky-responsive{
  height: auto; 
  overflow: auto; 
  position: relative; 
  top: 50px;
  padding-bottom:60px;
}

@media (max-width: 768px) { /* Adjust the threshold as needed */
    .sticky-responsive {
        position: sticky; /* Sticky only on non-mobile devices */
    }
    .padding-mobil{
      padding-bottom: 375px;
    }
    .position-fixed{
      position: relative !important;
    }
}
</style>

<main>
  <div class="container py-4">
  
    <div class="row align-items-md-stretch">
      <div class="col-md-4 sticky-responsive"  >
        <div class="h-100 p-5 text-bg-light rounded-1 border">
          <img style='width:260px; height:auto;' src="{{ student.profile_pic.url }}" class="card-img-top" alt="{{ student.first_name }} {{ student.last_name }}">
          <h2>{{ student.first_name }} {{ student.last_name }}</h2>
          <p>Student</p>
          <hr class="styled-hr">
          <p>{{ year }}, {{ year_group }}</p>
          <p>Teachers: 
          {% for teacher in student.teachers.all %}
           {{teacher.name}}, 
          {% endfor %}
        </p>
        </div>
      </div>
      <div class="col-md-8 padding-mobil">
        <div class="h-100 p-5  text-bg-light border rounded-1" >
          <h2>{{ student.first_name }}'s wall</h2>

          {% for status in statuses %}
          <div class="col ">
            <div class="card shadow-sm text-bg-light border rounded-1">
              <div class="card-body">
                <h6 class="card-text">{{ status.content }}</h6>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">{{ status.timestamp }}</small>
                </div>
              </div>
            </div>
          </div>
          <br />
          {% empty %}
          <p>No status yet. {{ student.last_name }} did not post anything yet.</p>
          {% endfor %}
          
        </div>
      </div>
    </div>
<!-- chatbox -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1030">
      <div class="card">
          <div class="card-header">
              Chat with {{ student.last_name }}
          </div>
          <div class="card-body">
              <div >
                  <!-- Chat messages will go here -->
                  <!-- <textarea id="chat-log" readonly></textarea> -->
                  <div style="height: 200px; overflow-y: auto;" id="chat-log"></div>
              </div>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <input id="chat-message-input" type="text" class="form-control" placeholder="Type a message...">
              <button id="chat-message-submit" class="btn btn-primary" type="button">Send</button>
            </div>
          </div>
      </div>
  </div>

</main>

<script>

// Function to scroll to the bottom of the chatbox
function scrollToBottom() {
    var chatLog = document.querySelector('#chat-log');
    setTimeout(function() {
        chatLog.scrollTop = chatLog.scrollHeight;
    }, 0);
    console.log("Scroll Height:", chatLog.scrollHeight);
}

// Call scrollToBottom after the messages have been loaded
window.onload = function() {
    setTimeout(scrollToBottom, 500);  // Adjust the delay as needed
};

  var my_username = "{{ my_username }}";
  var username = "{{ student.user.username }}";
  var sortedUsernames = [my_username, username].sort();

  // Construct the room name
  var room_name = sortedUsernames[0] + '_' + sortedUsernames[1] + '_chatroom';

  var socket = new WebSocket(
      'wss://' + window.location.host +
      '/wss/chat/' + room_name + '/',
      [],
      {credentials: 'include'} 
      );

      socket.onmessage = function(e) {
        try {
            console.log('Received data:', e.data);  // Log the raw data received
            var data = JSON.parse(e.data);
            console.log('Parsed data:', data);  // Log the parsed data

            var message = data['message'];
            var username = data['username'];
            var timestamp = data['timestamp'];

            // Log the parsed message
            console.log('Parsed message:', username + ' , ' + timestamp + ': ' + message);

           // Create a new chat bubble element
            var chatBubble = document.createElement('div');
            chatBubble.className = 'chat-bubble';


          // Add a class to the chat bubble depending on the username
            if (username === my_username) {
                chatBubble.classList.add('outgoing');
            } else {
                chatBubble.classList.add('incoming');
            }

            // Create a new message element
            var messageElement = document.createElement('p');
            messageElement.textContent = message;
            chatBubble.appendChild(messageElement);

            // Create a new timestamp element
            var timestampElement = document.createElement('small');
            timestampElement.textContent = username + ' , ' + timestamp;
            chatBubble.appendChild(timestampElement);


            // Add the message element to the chat log
            var chatLog = document.querySelector('#chat-log');
            chatLog.appendChild(chatBubble);

            const observer = new MutationObserver(function(mutations) {
              scrollToBottom();
            });

            observer.observe(chatLog, { childList: true });

            // Log the updated chat log value
            console.log('Updated chat log:', chatLog.innerHTML);
        } catch (error) {
            console.error('Error in onmessage event handler:', error);
        }
    };

  socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').focus();
  

  document.querySelector('#chat-message-submit').onclick = function(e) {
    // Prevent the form from submitting
    e.preventDefault();
    
    var messageInputDom = document.querySelector('#chat-message-input');
    var message = messageInputDom.value;
    
    // Log the message that is being sent
    console.log('Sending message:', message);
    socket.send(JSON.stringify({
        'message': message,
        'username': my_username //include the sender's username. mine I mean.
    }));

    messageInputDom.value = '';
};

document.querySelector('#chat-message-input').onkeydown = function(e) {
    if (e.keyCode === 13) {  // enter, return
        e.preventDefault();

        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        
        // Log the message that is being sent
        console.log('Sending message:', message);
        
        // Send the message
        socket.send(JSON.stringify({
            'message': message,
            'username': my_username //include the sender's username. mine I mean.
        }));
        // e.stopPropagation();

        messageInputDom.value = '';
    }
};
</script>


{% endblock %}