{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
  <div class="container py-4">
  
    <div class="row align-items-md-stretch">
      <div class="col-md-4" style="height: auto; overflow: auto; position: sticky; top: 50px;" >
        <div class="h-100 p-5 text-bg-light rounded-1 border">
          <img style='width:260px; height:auto;' src="{{ student.profile_pic.url }}" class="card-img-top" alt="{{ student.first_name }} {{ student.last_name }}">
          <h2>{{ student.first_name }} {{ student.last_name }}</h2>
          <p>Student</p>
          <hr class="styled-hr">
          <p>Year: {{ year }}, Year Group: {{ year_group }}</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 p-5  text-bg-light border rounded-1" >
          <h2>All Students</h2>
          <p>
            {% for status in statuses %}
                <div class="p-1 gap-3 py-1 w-100 ">
                  <div class="list-group">
                      <div class="d-flex py-1 w-100 justify-content-between ">
                        <div>
                          <h6 class="mb-0">{{ status.content }}</h6>
                          <p>{{ status.timestamp }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

</main>

{% endblock %}